<footer class="post-footer clearfix">
    {{ if .Params.tags }}
        <p class="post-tags">
            <span>Tagged:</span>
            {{ range .Params.tags }}
                 <a href="/tags/{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
        </p>
    {{ end}}

    <div class="share">
        <a class="icon-github" href="https://github.com/MaikKlein">
            <i class="fa fa-github"></i>
            <span class="hidden">Github</span>
        </a>
    </div>
    {{ template "_internal/disqus.html" . }}
</footer>
